[Unit]
Description=Create GREETD user on system boot
Before=greetd.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/getent group greetd > /dev/null || /usr/sbin/groupadd -r greetd'
ExecStart=/bin/sh -c '/usr/bin/getent passwd greetd > /dev/null || /usr/sbin/useradd -r -g greetd -c "Greeter Account" -d /var/lib/greetd -s /usr/sbin/nologin greetd'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
